body {
    font-family: 'Montserrat', sans-serif;
}

.header {
	padding-left: 3%;
	background-color: #f8f4d7;
	color: #fff;
  }

.html, body {
	margin: 0;
	padding: 0;

  }

.login {
	padding-left: 83%;
	position: absolute;
     right: 20px;
     top: 15px;
}

.carrinhocompras {
	position: absolute;
     right: 20px;
     top: 55px;
}

.frase1 {
	
	color: black ;
	position: absolute;
	top: 5%;
	font-size: 17px;
	right: 43%;
}
